body {
  margin: 0 auto;
  color: #566b78;
  font-family: "Roboto", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

#nav-top {
  display: flex;
  justify-content: space-between;
  background-color: #2b2c28;
  line-height: 0;
  font-family: "Montserrat", sans-serif;
}

#nav-name-top-left {
  display: flex;
  align-items: center;
  font-family: "Dancing Script", cursive;
}

#nav-top-right {
  display: flex;
  align-items: center;
}

#nav-signin-top-right {
  display: flex;
  align-items: center;
}

#nav-bottom-float {
  display: flex;
  justify-content: center;
  background-color: #2b2c28;
  font-family: "Montserrat", sans-serif;
}

.nav-items {
  display: flex;
  list-style-type: none;
  padding: 0.0625rem;
}

.nav-single-item {
  padding: 0.5rem;
}

.nonav {
  display: flex;
  background-color: #000;
}

.icon {
  width: 2rem;
  padding: 0.0625rem;
}

.all-box-container {
  display: flex;
  flex-flow: column wrap;
  max-width: 1000px;
  width: 100%;
  border: 0.125rem ridge rgba(211, 220, 50, 0.6);
  padding: 0.1rem;
  margin: 1rem;
}

.row-box-container {
  display: flex;
  justify-content: center;
  border: 0.125rem ridge rgb(0, 204, 255);
  margin-inline: 0.0625rem 1rem;
}

.first-box {
  background-color: #f94144;
  flex: 1 1 auto;
  margin: 0.125rem;
}

.second-box {
  background-color: #f3722c;
  flex: 1.25 1 auto;
  margin: 0.125rem;
}

.third-box {
  background-color: #f8961e;
  flex: 2 1 auto;
  margin: 0.125rem;
}
.fourth-box {
  background-color: #f9844a;
  flex: 1 1 auto;
  margin: 0.125rem;
}

.fifth-box {
  background-color: #f9c74f;
  flex: 1 1 auto;
  margin: 0.125rem;
}

.sixth-box {
  background-color: #90be6d;
  flex: 1 1 auto;
  margin: 0.125rem;
}
.seventh-box {
  background-color: #43aa8b;
  flex: 2 1 auto;
  margin: 0.125rem;
}

.eighth-box {
  background-color: #4d908e;
  flex: 1.25 1 auto;
  margin: 0.125rem;
}

.ninth-box {
  background-color: #577590;
  flex: 1 1 auto;
  margin: 0.125rem;
}
