body {
  margin: 0 auto;
  color: #566b78;
  font-family: "Roboto", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

#nav-top {
  display: flex;
  justify-content: space-between;
  background-color: #2b2c28;
  line-height: 0;
  font-family: "Montserrat", sans-serif;
}

#nav-name-top-left {
  display: flex;
  align-items: center;
  font-family: "Dancing Script", cursive;
}

#nav-top-right {
  display: flex;
  align-items: center;
}

#nav-signin-top-right {
  display: flex;
  align-items: center;
}

#nav-bottom-float {
  display: flex;
  justify-content: center;
  background-color: #2b2c28;
  font-family: "Montserrat", sans-serif;
}

.nav-items {
  display: flex;
  list-style-type: none;
  padding: 0.0625rem;
}

.nav-single-item {
  padding: 0.5rem;
}

.nonav {
  display: flex;
  flex-flow: column wrap;
  background-color: #000;
}

.icon {
  width: 2rem;
  padding: 0.0625rem;
}

.all-box-container {
  display: flex;
  flex-flow: column;
  max-width: 1000px;
  width: 100%;
  border: 1rem ridge rgba(211, 220, 50, 0.6);
  padding: 0.1rem;
}

.row-box-container {
  display: flex;
  border: 1rem ridge rgb(0, 204, 255);
  padding: 0.1rem;
}

.first-box {
  background-color: #f94144;
}
.second-box {
  background-color: #f3722c;
}
.third-box {
  background-color: #f8961e;
}
.fourth-box {
  background-color: #f9844a;
}
.fifth-box {
  background-color: #f9c74f;
}
.sixth-box {
  background-color: #90be6d;
}
.seventh-box {
  background-color: #43aa8b;
}
.eighth-box {
  background-color: #4d908e;
}
.ninth-box {
  background-color: #577590;
}
